.myPage-css {
    text-align: center;
}

.myPage-table {
    border-collapse: collapse;
    /* width : 100%; */
    width : 60%;
    height: 100px;
    margin : auto;
    margin-top : 10px;
}

.myPage-th , .myPage-td{
    padding : 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.myPage-title {
    margin-top : 60px;
}

.ma-btn {
    margin-top : 30px;
    margin-right: 70px;
    /* border : 0; */
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    background-color: white;
}

.da-btn {
    /* border : 0; */
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    background-color: white;
}
