.write-css {
    text-align: center;
}

.write-form-title {
    margin-top : 60px;
}

.write-table {
    width : 60%;
    border-collapse: collapse;
    margin : auto;
}

.write-table-th {
    text-align: center;
    padding-right: 10px;
}

.write-table-td {
    text-align: left;
}

.write-table-input {
    width: 100%;
}

.write-table-textarea {
    width: 100%;
}

.write-cancel-btn {
    background-color : white;

    width : 70px;
    height : 40px;

    border-radius: 5px;
}


.write-ok-btn {
    background-color : white;

    width : 70px;
    height : 40px;

    border-radius: 5px;

    margin-right: 70px;
}

.write-ment {
    text-align: center;
    font-size : 12px;
    color:red;
}
